.aside {
  background-color: var(--background-color);
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--aside-width);
  z-index: 5;
}

.aside > aside {
  background-color: var(--primary-color);
  height: 100%;
  padding: 1.5rem 0;
  position: relative;
  text-align: center;
  width: 4rem;
}

.aside > aside > a:first-child {
  width: 2.5rem;
}

.aside > aside > a:not(:first-child) {
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 1.5rem;
}

.aside > aside > a:nth-child(2) {
  bottom: 4rem;
}

.aside > aside > a:nth-child(3) {
  bottom: 1.5rem;
  cursor: pointer;
}

.aside > section {
  padding: 1.5rem 1rem;
  width: 100%;
}

.aside > section > figure {
  display: flex;
}

.aside > section > figure > img {
  margin-right: 0.5rem;
  width: 2.5rem;
}

.aside > section > figure > figcaption > small {
  color: var(--grey-color-2);
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.main {
  margin-left: var(--aside-width);
  padding: 2.5rem;
}

.nav {
  margin-top: 2.5rem;
}

.nav > a {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.25s;
}

.nav > a > section {
  align-items: center;
  color: var(--text-color);
  display: flex;
}

.nav > a > section > svg {
  margin-right: 1rem;
}

.nav > a:hover, .nav > a.active, 
.nav-item > section:hover, .nav-item > ul > li > a:hover {
  background-color: var(--grey-color-3);
  border-radius: 0.1875rem;
}

.nav > a.active > section {
  color: var(--primary-color);
}

.nav > a.active > section > svg > path {
  fill: var(--primary-color);
}

.nav-item {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.nav-item > section {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  position: relative;
  transition: background-color 0.25s;
}

.nav-item > section > svg {
  margin-right: 1rem;
}

.nav-item > section > img {
  margin-left: auto;
  transition: transform 0.25s;
  width: 1.5rem;
}

.nav-item > section > img.open {
  transform: rotate(-180deg);
}

.nav-item > ul {
  overflow-y: hidden;
  position: relative;
  transition: max-height 0.25s;
}

.nav-item > ul > li {
  margin-bottom: 0.5rem;
}

.nav-item > ul > li > a {
  display: block;
  padding: 0.5rem 3rem;
  transition: background-color 0.25s;
}

.nav-item > ul > li > a.active {
  background-color: var(--grey-color-3);
  border-radius: 0.1875rem;
  color: var(--primary-color);
}